// #services {
//   display: flex;
//   // height: auto;
//   justify-content: center;
// }


#skill-list {
  list-style-type: none;
  perspective: 500px;
}

#skill-list li {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  transform: rotateX(15deg) rotateY(-30deg);
  // position: absolute;
  border-bottom: 4px solid rbga(0, 0, 0, .2);
  align-items: center;
}

#skill-list li:nth-child(1) {
  background: rgba(240, 50, 50, 0.8);
  top: -50px;
  z-index: 5;
}

#skill-list li:nth-child(2) {
  background: rgba(110, 150, 240, 1);
  z-index: 4;
}

#skill-list li:nth-child(3) {
  background: rgba(220, 220, 10, 1);
  top: 50px;
  z-index: 3;
}

#skill-list li:nth-child(4) {
  background: rgba(110, 150, 240, 1);
  top: 100px;
  z-index: 2;
}

#skill-list li:nth-child(5) {
  background: rgba(110, 150, 240, 1);
  top: 150px;
  z-index: 1;
}
