#skills-font {
  height: auto;
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(10,10,10,0.75));
}

#skill-list-front {
  list-style-type: none;
  padding: 0;
  margin-right: 50px;
  perspective: 400px;
  // perspective-origin: 30% 30%;
}

#skill-list-front li {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: -5px;
  transform: rotateX(0deg) rotateY(-30deg);
  -webkit-transition: margin 0.4s; /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;
  border-bottom: 4px solid rbga(0, 0, 0, .2);
  align-items: center;
}

.newber {
  border-radius: 0 50% 50% 0;
}

.left-progess-skill {
  border-radius: 10px 0 0 10px;
}

.cool-stripes {
  background: repeating-linear-gradient(
  45deg,
  #5cb85c,
  #5cb85c 10px,
  #a7f2a7 10px,
  #a7f2a7 20px
);
}

.cooler-stripes {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

#skill-list-front li:nth-child(1) {
  background: rgba(40, 40, 40, 0.8);
  // top: -310px;
  z-index: 100;
}

#skill-list-front li:nth-child(2) {
  background: rgba(40, 40, 40, 0.8);
  // top: -205px;
  z-index: 99;
}

#skill-list-front li:nth-child(3) {
  background: rgba(40, 40, 40, 0.8);
  // top: -105px;
  z-index: 98;
}

#skill-list-front li:nth-child(4) {
  background: rgba(40, 40, 40, 0.8);
  // top: 200px;
  z-index: 97;
}

#skill-list-front li:nth-child(5) {
  background: rgba(40, 40, 40, 0.8);
  // top: 100px;
  z-index: 96;
}

#skill-list-front li:nth-child(6) {
  background: rgba(40, 40, 40, 0.8);
  // top: 200px;
  z-index: 95;
}
#skill-list-front li:nth-child(7) {
  background: rgba(40, 40, 40, 0.8);
  // top: 300px;
  z-index: 94;
}

#skill-list-front li:hover {
  background: rgba(100, 100, 100, 0.8);
  margin: 0 0 1rem 0;
}

#skills-back {
  height: auto;
  background: linear-gradient(rgba(10,10,10,0.75), rgba(255, 255, 255, 0.45));
}


#skill-list-back {
  list-style-type: none;
  perspective: 400px;
  padding: 0;
  margin-left: 50px;
  // perspective-origin: 30% 30%;
}

#skill-list-back li {
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: -5px;
  transform: rotateX(0deg) rotateY(30deg);
  -webkit-transition: margin 0.4s; /* For Safari 3.1 to 6.0 */
  transition: margin 0.4s;
  border-bottom: 4px solid rbga(0, 0, 0, .2);
  align-items: center;
}

.newber {
  border-radius: 0 50% 50% 0;
}

#skill-list-back li:nth-child(1) {
  background: rgba(40, 40, 40, 0.8);
  // top: -310px;
  z-index: 100;
}

#skill-list-back li:nth-child(2) {
  background: rgba(40, 40, 40, 0.8);
  // top: -205px;
  z-index: 99;
}

#skill-list-back li:nth-child(3) {
  background: rgba(40, 40, 40, 0.8);
  // top: -105px;
  z-index: 98;
}

#skill-list-back li:nth-child(4) {
  background: rgba(40, 40, 40, 0.8);
  // top: 200px;
  z-index: 97;
}

#skill-list-back li:nth-child(5) {
  background: rgba(40, 40, 40, 0.8);
  // top: 100px;
  z-index: 96;
}

#skill-list-back li:nth-child(6) {
  background: rgba(40, 40, 40, 0.8);
  // top: 200px;
  z-index: 95;
}
#skill-list-back li:nth-child(7) {
  background: rgba(40, 40, 40, 0.8);
  // top: 300px;
  z-index: 94;
}

#skill-list-back li:hover {
  background: rgba(100, 100, 100, 0.8);
  margin: 0 0 1rem 0;
}
